body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --caption-color: rgba(0, 0, 0, 0.6);
  --loader-color: rgba(0, 0, 0, 0.4);
}